.website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 690px) {
  .website {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
}
@media screen and (max-width: 568px) {
  .website {
    padding: 0 16px;
  }
}
